extends baseEmail

block content
    p Hi #{firstName},
        p this email is regarding your account for reset password, please reset your password using this link : #{url}.
        p Website for this action is not yet implemented
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset Your Password
        p  pls ignore this if this was not your account!
        p - Jonas Schmedtmann, CEO